<h2>Now your result</h2>


<p>Your word: <%= @answer %></p>
<p>Time Taken to answer: <%= @game[:time] %></p>
<p>Translation: <%= @game[:translation] %></p>
<p>Your score: <%= @game[:score] %></p>
<p>Message: <%= @game[:message] %></p>
